<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <h1>Create product</h1>
        <p>ID:</p>
        <input type="number" id="price" name="name" size="10" />
        <p>Name:</p>
        <input type="text" id="name" name="name" size="10" />
        <p>Description:</p>
        <input type="text" id="description" name="description" size="50" />
        <p>Price:</p>
        <input type="number" id="price" name="name" size="10" />
        <p>Image:</p>
        <input type="text" id="image" name="image" size="10" />
        <br><br>
        <button onclick={{createProducts()}} type="button">CREATE!</button>
    </body>
</html>